rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ----------------------------------------------------------------------
    // GLOBAL OPEN ACCESS
    // ----------------------------------------------------------------------
    // WARNING: This is for development only. Remove before production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
