@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 183 78% 93%;
    --foreground: 215 14% 24%;
    --card: 0 0% 100%;
    --card-foreground: 215 14% 24%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 14% 24%;
    --primary: 182 55% 54%;
    --primary-foreground: 0 0% 0%;
    --secondary: 183 20% 85%;
    --secondary-foreground: 215 14% 24%;
    --muted: 183 20% 88%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 216 55% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 216 55% 53%;
    --chart-1: 182 55% 54%;
    --chart-2: 216 55% 53%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 215 14% 24%;
    --sidebar-primary: 182 55% 54%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 183 78% 93%;
    --sidebar-accent-foreground: 215 14% 24%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 216 55% 53%;
  }
  .dark {
    --background: 215 28% 17%;
    --foreground: 0 0% 98%;
    --card: 215 28% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 182 55% 54%;
    --primary-foreground: 0 0% 0%;
    --secondary: 215 16% 47%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 16% 47%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 216 55% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 27%;
    --input: 215 28% 27%;
    --ring: 216 55% 53%;
    --chart-1: 182 55% 54%;
    --chart-2: 216 55% 53%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 215 28% 17%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 182 55% 54%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 215 28% 27%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 215 28% 27%;
    --sidebar-ring: 216 55% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
